/* .nav {
    background: #1b1b11;
    color: white;
} */

.nav::after {
    content: '';
    clear: both;
    display: table;
}

.nav .logo {
    float: left;
    /* color: white; */
    font-size: 20px; 
    font-weight: 500; 
    line-height: 70px;
    padding-left: 55px; 

}

.nav ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

.nav ul li {
    float: left;
    display: inline-block;
    /* background: wheat; */
    /* background: #1b1b11; */
    margin: 0 5px;
}

.nav ul li a {
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 4px 10px;
    /* padding: 8px 15px; */
}

.nav ul li a:hover {
    color: #1D4C9E;
    /* border-radius: 5px; */
    /* border-bottom: 2px solid #1D4C9E; */
    /* box-shadow: 0 0 5px #1D4C9E, 0 0 5px #1D4C9E; */
    /* box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff; */
}

.nav ul ul li a:hover {
    color: #1D4C9E;
    box-shadow: none;
}

.nav ul ul {
    background: #FFFFFF;
    position: absolute;
    top: 90px;
    border-top: 3px solid #1D4C9E;
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transition: top 0.3s;

}

.nav ul ul ul {
    border-top: none;
}

.nav ul li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

.nav ul ul li {
    position: relative;
    width: 150px;
    margin: 0;
    float: none;
    display: list-item;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

/* .nav ul ul li a{
    line-height: 50px;
} */
.nav ul ul ul li {
    position: relative;
    top: -70px;
    left: 150px;
}

.nav span {
    margin-left: 40px;
    font-size: 15px;
}

.show,
.icon,
.nav input {
    display: none;
}

@media all and (max-width:968px) {
    .nav ul {
        margin-right: 0px;
        float: left;

    }

    .nav .logo {
        padding-left: 30px;
        width: 100%;
    }

    .nav ul li {
        border-top: 1px solid gray;
    }

    .nav ul li,
    .nav ul ul li {
        display: block;
        width: 100%;
    }

    .nav ul ul {
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }

    .nav ul ul ul li {
        position: static;
    }

    .nav ul ul li {
        border-bottom: 0px;
    }

    .nav ul ul a {
        padding-left: 40px;
    }

    .nav ul ul ul a {
        padding-left: 80px;
    }

    .show {
        display: block;
        /* color: white; */
        color: black;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }

    .show:hover {
        color: #1D4C9E;
    }

    .icon {
        display: block;
        color: black;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
        top: 25px;
    }

    .nav ul li a:hover {
        box-shadow: none;
    }

    .show+a,
    ul {
        display: none;
    }

    [id^=btn]:checked+ul {
        display: block;
        border-top: 1px solid gray;
    }

}



