/* home link groups btn */

.btnHover{
    transition: all 0.2s;
   
}
.btnHover:hover {
    animation: btnHoverBg 1.0s ease-in infinite ;
    box-shadow: 0px 0px 15px #F2F2F2;
}

@keyframes btnHoverBg {
    0%{
        box-shadow: none;
    }
    50%{
        box-shadow: 0px 0px 15px  #F2F2F2;
    }
    100%{
        box-shadow: none;
    }
}