.main-products{
     display: grid;
     grid-template-columns: 1fr 4fr;
     gap: 15px;
}
@media all and (max-width:968px) {
  .main-products{
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     gap: 10px;
} 
.left-side{
     width: 97%;
} 
 
}