.main-nav .menus{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}
.main-nav .menu-items{
    position: absolute;
    font-size: 16px;
}
.main-nav .menu-items a{
    display: block;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    padding: 0.7rem 1rem;
}