
.grid-left{
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    
}

@media all and (max-width:968px) {
  
   .grid-left{
    display: grid;
    grid-template-columns: repeat(1fr, 1fr);
   }
}